.nav-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex: 1;
}
.nav-item {
  font-size: 1.75rem;
  padding: 4px;
}
.nav-item:hover {
  border-bottom: 4px solid rgb(12, 165, 12);
}

.nav-left {
  flex: 0.4;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 0.6;
}
.nav-right .nav-item {
  margin-right: 2rem;
}
