.nav-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex: 1;
}
.nav-item {
  font-size: 1.75rem;
  padding: 4px;
}

.nav-left {
  flex: 0.2;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 0.8;
}
.nav-right .nav-item {
  margin-right: 2rem;
}
